<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MobileStayAwake"
        tools:targetApi="31">
        <activity
            android:name=".ui.activity.ProfileActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ui.activity.RegisterActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ui.activity.CompanyActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ui.activity.PersonalActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ui.activity.NewUserActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ui.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ui.activity.LoginRegisterActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ui.activity.OnboardingActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ui.activity.LiveActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ui.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.MainActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
    </application>

</manifest>